h1
	img(src="./dan.jpg" alt="Dan I Silas")
	| DAN I SILAS. SURVEYOR
hr
h2  Handling commercial rent reviews and lease renewals for a variety of corporate and independent clients all over the UK. Over 30 years experience in all sectors of commercial property including retail, office and industrial uses. Highly experienced in dispute resolution, with Arbitration and Expert Witnesss work a speciality.
