h2 Commercial Property Services
div(class="row")
	h4
		img(src="./noun-shop.png" width="100" height="100" loading="lazy")
		br
		| Retail
	h4
		img(src="./noun-restaurant.png" width="100" height="100" loading="lazy")
		br
		| Restaurants
	h4
		img(src="./noun-office.png" width="100" height="100" loading="lazy")
		br
		| Office
	h4
		img(src="./noun-industrial.png" width="100" height="100" loading="lazy")
		br
		| Industrial
	pre
		code Icons from the Noun Project: Shop by Llisole, Restaurant by Made, Office by Atif, Industrial by priyanka
