form(id="contactme" action="https://contact-form-service.herokuapp.com/v1/email?to=1cwnu1fmvvaeku0mtg@gmail.com" method="post")
	div(class="box")
		section
			input(type="text" name="name" title="name" placeholder="Name" value="")
			input(type="text" name="contact" title="Phone or email" placeholder="Phone or email")
		section
			textarea(name="message" title="Query" placeholder="Query")
	div(class="box")
		section(style="width:100%")
			button Contact me
	br
	input(type="hidden" name="token" value="a6d7515b31a2d7e85d")
