h3 A Comprehensive, Professional and Efficient Property Service.
h4 I offer a multi-disciplinary property service that includes:
ul
 li Rent Review & Lease renewal negotiation for both landlords and tenants
 li Dispute Resolution
 li Arbitration
 li Expert Witness
 li Sales and Lettings of Property
 li Development and Investment
 li Consultancy
 li Rating
 li Property Management
