img(src="dan.jpg" class="profile" no-print width="100" height="100" loading="lazy")

h3
	a(href="callto:+447976312047") +44 7976 312 047
h3
	a(href="https://wa.me/447976312047?text=Hi,%20Dan.%20I%20just%20visited%20your%20website." rel="noreferrer noopener" no-print)
		img(src="whatsapp.svg")
		| WhatsApp
h2
	a(href="mailto:dan@danisilas.com?subject=Hi%20there,%20Dan.%20Just%20saw%20your%20website.") dan@danisilas.com
h4
	a(href="https://google.com/maps/?q=62+Hurstwood+Road%2C+London") 62 Hurstwood Road London NW11 0AU
