doctype html
html(lang="en-GB")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
		meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes")
		meta(name="description" content="Handling commercial rent reviews and lease renewals all over the UK, for over 30 years. Arbitration and Expert Witness work a speciality.")
		meta(name="theme-color" content="#FFFFFF")
		meta(name="geo.region" content="GB")
		meta(name="geo.placename" content="London Borough of Haringey")
		meta(name="geo.position" content="51.590225;-0.145731")
		meta(name="ICBM" content="51.590225, -0.145731")
		meta(property="og:image" content="./dan.jpg")
		meta(property="og:image:type" content="image/jpg")
		meta(property="og:image:width" content="705")
		meta(property="og:image:height" content="705")
		meta(property="og:type" content="profile")
		meta(property="og:profile:first_name" content="Dan")
		meta(property="og:profile:last_name" content="Silas")
		meta(property="og:profile:username" content="danisilas")
		meta(property="og:profile:gender" content="male")
		meta(property="og:url" content="https://danisilas.com")
		meta(property="og:title" content="Dan I Silas. Chartered Surveyor")
		meta(property="og:description" content="Handling commercial rent reviews and lease renewals all over the UK,<br>for over 30 years. Arbitration and Expert Witness work a speciality.")
		meta(property="og:locale" content="en_GB")
		link(rel="canonical" href="https://danisilas.com/")
		link(rel="alternate" href="https://danisilas.com/" hreflang="en-GB")
		link(rel="shortlink" href="https://danisilas.com/")
		link(rel="manifest" href="/manifest.webmanifest")
		link(rel="stylesheet" href="./styles.scss")
		title Dan I Silas. Chartered Surveyor
	body
		header(class="dark" style="background-image: url(./london-rob-bye-unsplash.jpg);")
			include:md ./1-header.md
			pre(no-print)
				code Background by Rob Bye (unsplash)
			a(href="#services")
		article(no-print name="services")
			include:md ./2-services.md
			br
			br
			include ./3-contact-form.html
			a(href="#about")
		article(name="about" class="dark" style="background-image: url(./about-background.jpg);")
			div(style="text-align:left")
				include:md ./4-about.md
			a(href="#address")
		article(name="address" class="contact")
			include:md ./5-contact.md
			a(href="#map")
		footer(name="map" no-print)
		script(src="https://browser.sentry-cdn.com/5.6.3/bundle.min.js" integrity="sha384-/Cqa/8kaWn7emdqIBLk3AkFMAHBk0LObErtMhO+hr52CntkaurEnihPmqYj3uJho" crossorigin="anonymous")
		script(async="async").
			Sentry.init({ dsn: 'https://5f6b06831a24472aa929e0a9cbd83fb1@sentry.io/1731489' });
		script(defer="defer" src="./script.js")
